.DS_Store
Thumbs.db
Desktop.ini

.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

__pycache__/
*.py[cod]
.ruff_cache/
.mypy_cache/
.pytest_cache/

.venv/

data/
model/
outputs/
scores.csv

*.log
.env*
